.header{  margin-top : 4px; padding : 4px ;font-size: 30px;}
.list { float:left; width:15%;}
.view { float:left; width:85%;} 
.footer { padding : 2px ; clear:both; margin: 0 auto; text-align:left;}
#sep hr {border-width:5px 0px 0px 0px; border-style:solid; border-color:#d8d8d8;} 
